
PORT=5000
NODE_ENV=development

JWT_SECRET="DemoSecreatJwtToken"

DB_HOST="mongodb+srv://zain:NationalMongo01@cluster-act-test.msoxqdh.mongodb.net/"
DB_NAME = "kyc-demo"

JWT_EXPIRY_TIME =24h

SUMSUB_APP_TOKEN=sbx:SunoZnuhd3ogf39BzzdpZbCX.FFHjVcH2ywrNLSr219MaibTe0y0G1KBU
SECRET_TOKEN=A3R37nOYDy4ZtAngmfhoSJMeSWGmOt5L