html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.sdk-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 25vh;
    /* padding: 0; */
    overflow: hidden;
}
